<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
  </head>
  <body>
   
       

    <!-- create an add new password form  -->
    <div class="container">
      <div class="row">
        <h2 class="text-center"><%= title %></h2>
        <div
          id="addnewpasswordbox"
          style="margin-top: 50px"
          class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
        >
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">Edit Password</div>
            </div>
            <div class="panel-body">
            
              <!-- alert if user enter no password desc  -->

              <% if (!((error == null))) { %>
              <div class="alert alert-danger" role="alert">
                <p style="text-align: center"><%= error.errors[0]['msg']%></p>
              </div>
              <% } %>

              <form
                action="/view-all-password/edit/<%= objDb._id %>"
                id="AddNewPasswordForm"
                class="form-horizontal"
                method="post"
                role="form"
              >
                <div class="form-group">
                  <label for="selectcategory" class="col-md-3 control-label"
                    >Password Category</label
                  >
                  <div class="col-md-9">
                    <select
                      id="selectcategory"
                      class="form-control"
                      required
                      name="selectedpasswordcategory"
                      
                    >
                    <option selected disabled value="<%= objDb.password_category %>"><%= objDb.password_category %></option>
                      
                    </select>
                  </div>
                </div>
                <div class="form-group"></div>
                  <label for="projectname" class="col-md-3 control-label"
                    >Project Name</label
                  >
                  <div class="col-md-9">
                    <input
                      type="text"
                      class="form-control"
                      name="projectname"
                      placeholder="Enter Your Project Name"
                      required
                      value="<%= objDb.project_name %>"
                      readonly
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="pasworddesc" class="col-md-3 control-label"
                    >Password Description</label
                  >
                  <div class="col-md-9">
                    <textarea
                      class="form-control"
                      name="newpassword"
                      placeholder="Enter Your Password Description"
                      id="editor"
                      required
                    ><%= objDb.password_desc %></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <!-- Button -->
                  <div class="col-md-offset-3 col-md-9">
                    <input
                      type="submit"
                      name="submit"
                      value="Update"
                      class="btn btn-primary"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
            <script>
        // Initialize CKEditor on the textarea
        CKEDITOR.replace('editor');

        // Wait until CKEditor is fully loaded
        CKEDITOR.on('instanceReady', function(evt) {
            // Set the initial content
            evt.editor.setData('<%= objDb.password_desc %>');
        });
        </script>
    <script>
      CKEDITOR.replace("editor");
    </script>
  </body>
</html>
